* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(255, 105, 180);
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    height: 150px;
}

canvas {
    position: absolute;
}

button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-radius: 10px;
    background-color:rgba(204, 230, 255, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
}

button:hover {
    background-color: rgba(204, 250, 255, 1);
}

section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 66.6%;
    min-width: 66.6%;
    height: auto;
    align-items: center;
    margin: 10px 0;
    background-color: white;
    color: rgb(0, 170, 255);
    border: 5px solid rgb(51, 187, 255);
    border-radius: 10px;
}

p {
    margin: 5px 0;
    text-align: center;
    font-style: italic;
    font-size: 36px;
}

.happyEmoji p {
    font-style: normal;
}